@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
  background-image: url('./images/background-1060405.png');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#navbar {
  padding-right: 2vw;
  padding-left: 2vw;
  margin-right: auto;
  margin-left: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}

input:focus {
  outline: none;
}


/*header js styling starts here */

header {
  background-color: #363536;
}


.inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

header a {
  color: #fff;
  font-size: 1.25rem;
  transition: all 0.3s ease-out;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
  font-size: 1.4rem;
}

header .brand a {
  font-weight: 700;
  font-size: 1.5rem;
}

header .nav-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

header .nav-links li {
  display: inline-block;
  margin-right: 30px;
}

header .nav-links li:last-child {
  margin-right: 0;
}



.bm-burger-button {
  position: fixed;
  width: 10vh;
  overflow-y: hidden;
  transform: scale(0.6);
  top: 0;
  left: 0;
}

.mobile-navbar {
  display: none;
}

.mobile.container{
  display: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ededf0;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}


/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #ededf0;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background-color: #131213; 
  padding: 2.5em 0;
  font-size: 1.15em;
  margin-top: auto;
  margin-bottom: auto;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #1e1f20;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em;
  list-style-type: none;
}

/* Individual item */
.bm-item.brand {
  text-align: center;
  color: #ededf0 
}

.bm-item.brand.a{
  color: #ededf0!important;
}
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
#mobilelinks {
  padding: 0;
  margin: auto;
  width: max-content;
  list-style-type: none;
  color: #ffffff!important;
}

@media screen and (min-width:350px)  {
  .bm-item.nav-links {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center ;
    align-items: start;
    padding: 0;
    list-style-type: none;
  }
  .bm-item.nav-links li {
    margin-top: 10%;
  }
  .bm-item.nav-links li .button{
    text-decoration: none;
    font: 200;
    font-size: 20px;
    color: #fff;
  }
  .mobile-navbar {
    display: block;
  }
  
  .mobile.container{
    display: block;
  }
}



/* Search styling */
.add-content {
  padding: 8vh 0;
  max-width: 50vw;
  margin: 0 auto;
}

.add-content .input-wrapper input {
  width: 100%;
  background-color: #1d3b55;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 1.25rem;
}

.results-container {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  list-style-type: none;
}

.results>li {
  list-style: none;
}

.result-card {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

#img-aspect-sizing{
  width: 100%;
  height: auto;
}

.filler-poster {
  width: 75px;
  height: 113px;
  background-color: #dbdada;
  border-radius: 5px;
  margin-right: 15px;
  display: block;
  color: transparent;
}

.info {
  display: flex;
  margin-left: 4vw;
  flex-direction: column;
  justify-content: space-between;
}

.title, .Release-date, .Rating {
  font-size: 1.25rem;
  color: #dad045;
  font-weight: 600;
  margin: 0;
}
.controls{
  margin: 10px;
}
.controls button {

  width:50%;
  height: 40%;

  border-radius: 5px;
  color: #fff;

  text-align: center;
}

Button:hover{
  background-color: #1b1a16;
} 



.game-page {
  padding: 30px 0;
}

.game-page .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.count-pill {
  display: block;
  background-color: #e3e644;
  padding: 5px 15px;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 999px;
  color: #1d3b55;
}

.game-page .heading {
  color: #dad045;
}

.game-grid {
  margin-top: 3vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}



.game-card {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  border: 0;
  display: flex;
  flex-direction: column;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.game-card:hover .overlay {
  border: 3px solid #e3e644;
}

.inner-card-controls {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-top: 1vh;
  padding: 3px;
  transition: all 0.3s ease;
}

#Button-card-control{
   margin-top: 1vh;
}


.no-games {
  color: #c4c4c4;
  font-size: 3rem;
  text-align: center;
}


@media screen and (min-width: 350px) {
  .result-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h3.title, h4.Rating, h5.Release-date {
    text-align: center;
    margin: auto;
    font-size: 12px;
  }
  .result-card .controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center ;
  }
  .result-card .controls button{
    font-size: 10px;
  }
}

@media screen and (min-width: 992px) {
  .game-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}


@media screen and (min-width: 768px) {
  .container {
    width: 95vw;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 95vw;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 95vw;
  }
}

@media screen and (max-width:580px) {
  #navbar{
      display: none;
  }
  #navbar-links{
      display: none;
  }
}


@media screen and (min-width:768px)  {
  .mobile-navbar {
    display: none;
  }

  .mobile.container{
    display: none;
  }

  .bm-item.navlinks {
    padding: 0;
    margin: 0;
    width: max-content;
  }
}
